.bg-primary{
    background-color: pink!important;
    background-image: url(../assets/img/deapseaaa1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
p.redred{
    background-color: black;
    color: white;
    border: 20px solid;
    border-color: brown;
    background-image: url(../assets/img/deapseaaa1.png);
    font-size:40px;
    text-align: center;
    font-family: 'Noto Serif TC', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }
.blueblue{
    color:#6babdb;
}
.expedu_icon{
    color: red;
}
.expedu_icon:hover{
    color: white;
    background-color: red;
}